<mat-card>
  <mat-card-header>
    <mat-card-title>Đăng nhập</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <div class="regis-link">
        <span>Chưa có tài khoản </span><a href="register">Đăng kí</a>
      </div>
      <button mat-raised-button color="primary" type="submit">Đăng nhập</button>
    </form>
  </mat-card-content>
</mat-card>
