.user-item {
  padding: 12px 12px 12px 24px;
  width: 600px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  h3 {
    text-transform: capitalize;
  }
}

.product-item {
  img {
    height: 200px;
    min-height: 200px;
    overflow: hidden;
  }
}
